.pubkeys {
  text-align: center;
  font-family: Roboto Mono, sans-serif;
  margin-top: 5em;
  margin-bottom: 1.5em;

  .title {
    text-transform: uppercase;
    margin-bottom: 1em;
  }

  .pubkey {
    margin: 0.1em 1em;
    font-size: 0.8rem;
    font-weight: 200;
    white-space: nowrap;

    .addresstype {
      display: inline-block;
      vertical-align:top;
      text-transform: uppercase;
    }

    .address {
      display: inline-block;
      vertical-align:top;
      max-inline-size: 90%;

      text-overflow: ellipsis;
      overflow: hidden; 

      color: #b6262c;
    }
  }
}
